<div ng-controller="PagedListModuleController">

    <div class="span4 meeting_results">
      <div ng-repeat="meeting in items | orderBy:distance | startFrom:currentPage*pageSize | limitTo:pageSize">
        <ng-include src="partialUrl" ng-controller="partialController"></ng-include>
      </div>
      <div class="pagination" ng-hide="numberOfPages() <= 0">
        <button class="previous" ng-disabled="currentPage <= 0" ng-click="currentPage=currentPage-1">
          <
        </button>
        {{currentPage+1}} of {{numberOfPages()}}
        <button class="next" ng-disabled="currentPage >= items.length/pageSize - 1" ng-click="currentPage=currentPage+1">
          >
        </button>
      </div>
    </div>
</div>

